In [2]:
"""
Created on Fri Jul 26 18:35:01 2019
@author: avocado
Estimated Completion Time: 10 minutes
"""

# import required modules:
# numpy and pandas
import numpy as np
import pandas as pd

In [9]:
# create an array of five fruits
# then, using a for loop, append the numbers 1-15 to that array
fruit=['apple',
      'banana',
      'orange',
      'pineapple',
      'grape']
num_list=[]
for i in range(16):
    num_list.append(i)
fruit.extend(num_list)
print(fruit)

['apple', 'banana', 'orange', 'pineapple', 'grape', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [8]:
# create a dataframe with 3 columns and 4 rows, populated with w.e you like
# add a column using an array that was populated a for loop
df=[['hi',1,'Oi'],['goodbye',2,'Tchau'],['yes',3,'sim'],['thank you',54,'obrigada']]
# now for le columns
cols=['col1','col2','col3']
df=pd.DataFrame(df,columns=cols)
df.head()

        col1  col2      col3
0         hi     1        Oi
1    goodbye     2     Tchau
2        yes     3       sim
3  thank you    54  obrigada